.bread-div{
  padding: .5rem;
  border-bottom: 1px solid #eee;
  background-color: #e1f0ff;
}

.bread-div .bread-now {
  color: skyblue;
}

.detail-article .detail-title {
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
  color: #0094ff;
}

.detail-article .detail-center {
  color: #888 !important;
  padding-left: 8px;
  height: auto !important;
  line-height: 1.5rem !important;
  font-size: 0.9rem !important;
  border-bottom: 1px dashed #eee;
}
.detail-article .detail-center span {
  margin-left: 5px;
  padding: 0 2px;
}

.active{
  color:rgb(30, 144, 255) !important;
}

.nav-title{
  text-align: center;
  color: #888;
  border-bottom: 1px solid rgb(30, 144, 255);
}

.detail-content {
  background-color: #283646 !important;
  padding-left: 1.5rem;
}

.detail-content >* {
  order: 0px !important;
  /* background-color:  #fff; */
  /* color: #fff; */
}

.detail-content h1, .detail-content h2, .detail-content h6 {
  color:  lightblue;
}


/* 代码块高亮 */

pre{
  background-color: #283646 !important;
}
pre >code{
  border:0px !important;
  background-color: #283646 !important;
  color:#FFF;

}
code {
  display: inline-block ;
  background-color:#f3f3f3;
  border:1px solid #fdb9cc;
  border-radius:3px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  color:#4f4f4f;
  margin: 0px 3px;

}
/* copy-by-web */
/* .title-anchor{
  color:#888 !important;
  padding:4px !important;
  margin: 0rem !important;
  height: auto !important;
  line-height: 1.2rem !important;
  font-size: .7rem !important;
  border-bottom: 1px dashed #eee;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.active{
  color:rgb(30, 144, 255) !important;
}
.nav-title{
  text-align: center;
  color: #888;
  border-bottom: 1px solid rgb(30, 144, 255);

}
.article-menu{
  font-size:12px;
}
iframe{
  height: 34rem;
}
.detailed-content  img{
  width: 100%;
  border:1px solid #f3f3f3;
}
.title-level3{
  display: none !important;
}
.ant-anchor-link-title{
  font-size: 12px !important;
}
.ant-anchor-wrapper{
  padding: 5px !important;
} */



